:root {
  --color-white: #ffffff;
  --color-disabled: #cccccc;
  --color-add: green;
  --color-add-hover: darkgreen;
  --color-edit: #007bff;
  --color-edit-hover: #0056b3;
  --color-edit-active: #004085;
  --color-delete: red;
  --color-delete-hover: #b22222;
  --color-view: violet;
  --color-view-hover: darkviolet;
  --color-nav: black;
  --color-nav-hover: rgb(70, 70, 70);
}

.button {
  font-size: 16px;
  padding: 6px 8px;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

/* Button Add  */

.button-add {
  background-color: var(--color-add);
}

.button-add:hover {
  background-color: var(--color-add-hover);
}

.button-add:active {
  background-color: var(--color-add);
}

/* Button Edit */

.button-edit {
  background-color: var(--color-edit);
}

.button-edit:hover {
  background-color: var(--color-edit-hover);
}

.button-edit:active {
  background-color: var(--color-edit-active);
}

/* Button Delete */

.button-delete {
  background-color: var(--color-delete);
}

.button-delete:hover {
  background-color: var(--color-delete-hover);
}

.button-delete:active {
  background-color: var(--color-delete);
}

/* Button View */

.button-view {
  background-color: var(--color-view);
}

.button-view:hover {
  background-color: var(--color-view-hover);
}

.button-view:active {
  background-color: var(--color-view);
}

/* Button Nav */

.button-nav {
  background-color: var(--color-nav);
}

.button-nav:hover {
  background-color: var(--color-nav-hover);
}

.button-nav:active {
  background-color: var(--color-nav);
}
