.buttons-bottom {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.infinite-spinner {
  width: 200px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
